
  <nav>
    <ul>
      <li><a href="/signup">Registro</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/profile">Mi perfil</a></li>
      <li><a href="/products">Ver Productos</a></li>
    </ul>
  </nav>