<h1>Bienvenido a la sala de chat</h1>
<div class="chat__container">
    <form class="form__messages" action="">
        <label for="message">Escribe tu mensaje aquí</label>
        <input class="input__message" type="text" name="message" id="message" placeholder="Hola, ¿como estás?">
    <button class="btn btn-primary" type="submit">Enviar mensaje</button>
    </form>
<div  class="messages__container">

</div>
</div>
<link rel="stylesheet" href="../static/css/chat.css">
<script src="/socket.io/socket.io.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css
" rel="stylesheet">
<script src="/static/js/chat.clien.js"></script>