<h1>Bienvenido</h1>
<div class="productos__container">
 <h3>Estos son los productos disponibles actualmente</h3>
    <div class="listaProductos">

    </div>
   
</div>
<a class="btn btn-primary" href="/realtimeproducts">IR AL PANEL DE ADMIN</a>
<script src="../static/js/index.handlebars.js"></script>
