<h1>Tu perfil (sin datos sensibles)</h1>
<p>Nombre: {{first_name}}</p>
<p>Apellido: {{last_name}}</p>
<p>Correo electronico: {{email}}</p>

<form class="logoutform">
  <button src="btn btn-danger" type="submit">Logout!</button>
</form>
<script src="/static/js/profile.client.js"></script>