<h1>Create account</h1>
<form class="signupform">
  <label for="email">Email</label>
  <input name="email" type="email" placeholder="email"><br>
  <label for="password">Password</label>
  <input name="password" type="password" placeholder="password"><br>
  <label for="first_name">Nombre</label>
  <input name="first_name" type="text" placeholder="nombre"><br>
  <label for="last_name">Apellido</label>
  <input name="last_name" type="text" placeholder="apellido"><br>
  <label for="age">Edad</label>
  <input name="age" type="number" placeholder="edad"><br>
 
  <button src="btn btn-success" type="submit">Sign Up!</button>
</form>
<script src="/static/js/signUp.client.js"></script>